.repository {
  display: flex;
  color: #222;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  border-top: 1px solid #aaa;

  padding: 10px;

  &__owner-avatar {
    width: auto;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #aaa;
  }

  &__name {
    color: #0969da;
    font-size: 1.6rem;
  }

  &__description {
    padding-left: 11px;
    font-size: 1.1rem;
  }

  &__language {
    width: auto;
    min-width: 180px;

    height: 1.9rem;

    &-badge {
      height: 100%;
      width: auto;
    }
  }

  &__update {
    font-size: 0.9rem;
  }
}

.header {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer {
  display: flex;
  align-items: center;
  gap: 30px;

  @media (width < 400px) {
    gap: 5px;
  }
}
