@use "../../../styles/variables";

.repository {
  color: variables.$font-main-color;
  display: flex;
  flex-direction: column;
  gap: variables.$gap-main;
  width: 100%;
  border-top: variables.$border-main;
  padding: 10px;

  &__link:focus {
    outline: variables.$focus-outline;
    border-radius: variables.$border-main-radius;
  }

  &__owner-avatar {
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: variables.$border-main;
  }

  &__name {
    overflow-wrap: anywhere;
    color: variables.$font-repository-color;
    font-size: 1.6rem;
  }

  &__description {
    padding-left: 11px;
    font-size: 1.1rem;
  }

  &__language {
    width: auto;
    height: 1.8rem;
    min-width: 150px;

    &-badge {
      height: 100%;
      width: auto;
    }
  }

  &__update {
    font-size: 1rem;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: variables.$gap-main;
}

.footer {
  display: flex;
  align-items: center;

  @media (width > 450px) {
    gap: 30px;
  }
}
