@use "../../../styles/variables";

.repositories {
  width: 100%;

  &__filters {
    width: 100%;
    display: flex;
    gap: variables.$gap-main;
    justify-content: flex-end;
    align-self: flex-end;
    flex-direction: column;
    align-items: flex-end;

    @media (width > 450px) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__total {
    align-self: flex-start;
  }
}
