@use "../../../styles/variables";

.selector-form {
  height: 100%;
  border: variables.$border-main;
  padding: 0 5px;
  border-radius: variables.$border-main-radius;
  background-color: variables.$form-background-color;

  &:focus-within {
    outline: variables.$focus-outline;
  }

  &__group {
    color: variables.$font-main-color;
    padding: 5px;
    display: flex;
    justify-content: center;

    &:focus {
      outline: none;
    }
  }
}
