$font-main-color: #222;
$font-repository-color: #0969da;
$font-secondary-color: #8c00ff;

$border-main-color: #aaa;
$focus-outline-color: blue;

$border-main: 1px solid $border-main-color;
$border-main-radius: 10px;
$focus-outline: 2px solid $focus-outline-color;

$form-background-color: #e0e0e040;

$gap-main: 15px;
