.form {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__searchbox {
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid #aaa;
    padding: 8px 5px;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;

    &__input {
      width: 100%;
      padding-left: 5px;
    }

    &:focus-within {
      outline: 2px solid blue;
    }
  }
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: 2px solid blue;
  }
}
