@use "../../styles/variables";

.form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__searchbox {
    display: flex;
    align-items: center;
    border: variables.$border-main;
    padding: 8px 5px;
    border-radius: variables.$border-main-radius;
    width: 100%;
    justify-content: space-between;

    &__input {
      width: 100%;
      padding-left: 5px;
    }

    &:focus-within {
      outline: variables.$focus-outline;
    }
  }
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: variables.$focus-outline;
  }
}
