@use "../../../styles/variables";

.form__searchbox.form__searchbox--small {
  background-color: variables.$form-background-color;
  padding: 5px;
  border: none;
  border-radius: variables.$border-main-radius;
}
